{%- macro render_items(items) %}
  {%- for item in items | reverse %}
    <li>
      {{ item.title | codify }}
      {%- if item.unresolved %}
        <a class="unresolved"
          href="{{ item.unresolved.url }}"
          title="{{ item.unresolved.issue.title }}">unresolved</a>
        {%- continue %}
      {%- endif %}
      {%- if not item.stabilized %}
        <span class="not-stabilized">not stabilized yet</span>
      {%- else %}
        {%- set info = item.stabilized %}
        <a class="stabilized"
          href="{{ info.pr.number | pr_url }}"
          title="{{ info.pr.title }}">stabilized in {{ info.version }}</a>
        {%- if info.version is in_stable %}
          <span class="stable">[in stable]</span>
        {%- elif info.version is in_beta %}
          <span class="beta">[in beta]</span>
        {%- else %}
          <span class="nightly">[in nightly]</span>
        {%- endif %}
      {%- endif %}
      {%- if item.rfc %}
        /
        <a class="rfc"
          href="{{ item.rfc.url }}"
          title="{{ item.rfc.issue.title }}">RFC {{ item.rfc.issue.number }}</a>
      {%- endif %}
      {%- if item.tracking %}
        /
        <a
          class="tracking"
          href="{{ item.tracking.number | issue_url }}"
          title="{{ item.tracking.title }}"
        >#{{ item.tracking.number }}</a>
      {%- endif %}
      {%- if item.issues %}
        <details class="issues">
          <summary>
            Related issues under <span class="label">{{ item.issue_label }}</span>
          </summary>
          <ul>
            {%- for issue in item.issues | filter(attribute="open", value=true) | reverse %}
              {{ self::render_issue(issue=issue, class="") }}
            {%- endfor %}
            {%- for issue in item.issues | filter(attribute="open", value=false) | reverse %}
              {{ self::render_issue(issue=issue, class="closed") }}
            {%- endfor %}
          </ul>
        </details>
      {%- endif %}
      {%- if item.deps %}
        <ul class="deps">
          {{ self::render_items(items=item.deps) }}
        </ul>
      {%- endif %}
    </li>
  {%- endfor %}
{%- endmacro %}
{%- macro render_issue(issue, class) %}
  <li>
    <a class="{{ class }}"
        href="{{ issue.number | issue_url }}"
        title="{{ issue.title }}">#{{ issue.number }} - {{ issue.title | codify }}</a>
  </li>
{%- endmacro %}
